@charset "UTF-8";
/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');
p {
  font-size: 16px;
  color: #666666; }

ul {
  color: #666666 !important; }

@media (max-width: 998px) {
  .rem_on_mobile {
    display: none; } }

#button_blue, .qbutton.green {
  background: #1558b6;
  border: 1px #1558b6 solid;
  color: #fff;
  font-weight: 200; }
  #button_blue:hover, .qbutton.green:hover {
    background: #33b6f7;
    color: #fff;
    border: 1px #33b6f7 solid; }

#button_white, #sign-up_button_trigger {
  background: transparent;
  border: 1px #fff solid;
  color: #fff;
  font-weight: 200; }
  #button_white:hover, #sign-up_button_trigger:hover {
    background: #33b6f7;
    border: 1px #33b6f7 solid; }

#button_white_filled {
  background: #fff;
  border: 1px #fff solid;
  color: #000;
  font-weight: 200; }
  #button_white_filled:hover {
    background: transparent;
    border: 1px #fff solid;
    color: #fff; }

#back_to_top span {
  border-radius: 0;
  height: 32px;
  width: 32px;
  line-height: 32px; }
  #back_to_top span i {
    line-height: 32px; }

#back_to_top {
  bottom: 22px; }

#back_to_top.on {
  right: 22px; }

.mobile_menu_button {
  float: right; }

@media (max-width: 480px) {
  #nav_menu-2 ul li {
    text-align: left; } }

#qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper > div > div.slider_content.right > div > div:nth-child(1) > h2 > span {
  line-height: 22px !important; }

@media only screen and (max-width: 800px) {
  .carousel:not(.advanced_responsiveness) .carousel-inner .slider_content {
    display: block; } }

@media (max-width: 480px) {
  .carousel:not(.advanced_responsiveness) .carousel-inner .qbutton {
    line-height: 30px;
    height: 30px; }
  #qode-home > div.carousel-inner.relative_position > div > div.image {
    background-position-x: -420px; } }

.vc_column_container > .vc_column-inner {
  padding-left: 30px; }

@media only screen and (max-width: 1000px) {
  .logo_wrapper {
    height: 100px !important;
    left: 0; }
  .q_logo a {
    left: 0; } }

@media only screen and (max-width: 1400px) {
  .mobile_menu_button {
    display: table;
    margin: 0 !important; }
  nav.mobile_menu {
    display: block;
    background-color: white;
    width: 100% !important; }
  .main_menu {
    display: none !important; }
  .logo_wrapper {
    position: absolute;
    margin-left: -45px !important; }
  .header_inner_left,
  footer.uncover,
  header {
    position: relative !important;
    left: 0 !important;
    margin-bottom: 0px !important; }
  .header_bottom {
    background-color: #fff !important; } }

@media (max-width: 480px) {
  .logo_wrapper {
    margin-left: -5px !important; }
    .logo_wrapper img.mobile {
      height: 62%; } }

nav.mobile_menu ul li a {
  text-align: right; }

.content_bottom .sign-up_container {
  display: -ms-flexbox;
  display: flex;
  height: 304px; }
  @media (max-width: 767px) {
    .content_bottom .sign-up_container {
      display: -ms-grid;
      display: grid; } }
  .content_bottom .sign-up_container .sign-up {
    -ms-flex-direction: row;
        flex-direction: row;
    width: 50%;
    height: auto; }
    @media (max-width: 767px) {
      .content_bottom .sign-up_container .sign-up {
        width: 100%; } }
  .content_bottom .sign-up_container .half_lhs {
    background-image: url(http://bjrjgzwvjyhm.managedwp.com.au//wp-content/uploads/2017/05/footer_top.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .content_bottom .sign-up_container .half_rhs {
    text-align: center;
    position: relative;
    margin: auto 0; }
    .content_bottom .sign-up_container .half_rhs p {
      margin-bottom: 16px; }

.slider_content_wrapper {
  top: 45%;
  position: relative; }

#first_row .section_inner_margin {
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    #first_row .section_inner_margin {
      display: block !important; } }

@media (max-width: 480px) {
  #first_row {
    padding-top: 90px !important;
    padding-bottom: 0 !important; }
  #qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper > div > div.slider_content.right > div > div:nth-child(2) {
    display: none; }
  #qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper > div > div.slider_content.right > div > p {
    display: none; }
  #qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper {
    top: 54%; } }

.trust_row img {
  -ms-flex-direction: row;
      flex-direction: row;
  vertical-align: middle;
  max-width: 250px;
  max-height: 60px; }
  @media (max-width: 480px) {
    .trust_row img {
      margin: 32px 0; } }

.trust_icon .vc_column-inner {
  transform: translateY(-50%);
  top: 50%;
  position: relative; }

#second_row {
  height: 775px;
  position: relative; }
  @media (max-width: 998px) {
    #second_row {
      height: auto; } }

#second_row::before {
  content: '';
  position: absolute;
  background: url(http://web123-clientassests.s3.amazonaws.com/waggaaircentre/limo_lady.jpg);
  background-size: cover;
  width: 100%;
  height: 774px; }
  @media (max-width: 998px) {
    #second_row::before {
      background: url(http://web123-clientassests.s3.amazonaws.com/waggaaircentre/limo_lady-mobile.jpg);
      background-size: contain;
      height: 307px;
      min-height: 307px; } }
  @media (max-width: 480px) {
    #second_row::before {
      background-size: cover;
      min-height: 328px; } }

.second_row__lhs-copy {
  padding: 60px; }

.second_row-left {
  height: 775px; }
  .second_row-left .vc_column-inner {
    position: absolute;
    bottom: 0;
    left: 0; }
    @media (max-width: 998px) {
      .second_row-left .vc_column-inner {
        position: relative; } }
  @media (max-width: 998px) {
    .second_row-left {
      width: 50%;
      position: relative;
      height: auto; } }
  @media (max-width: 800px) {
    .second_row-left {
      width: 100%; } }

.second_row-center {
  height: 775px; }
  .second_row-center .vc_column-inner {
    padding: 60px;
    position: absolute;
    bottom: 0;
    width: 98%; }
    @media (max-width: 998px) {
      .second_row-center .vc_column-inner {
        position: relative; } }
    .second_row-center .vc_column-inner p {
      color: #000;
      margin-bottom: 16px; }
  @media (max-width: 998px) {
    .second_row-center {
      width: 50%;
      position: relative;
      height: auto; } }
  @media (max-width: 800px) {
    .second_row-center {
      width: 100%; } }

.second_row-right > .vc_column-inner {
  height: 775px; }
  @media (max-width: 998px) {
    .second_row-right > .vc_column-inner {
      height: auto;
      padding: 60px 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; } }

.second_row-right {
  position: relative;
  left: -13px; }
  .second_row-right .vc_empty_space {
    position: relative;
    bottom: 0; }
  .second_row-right .second_row__rhs-copy_insert p {
    margin-top: 60%;
    padding: 25px 60px; }
    @media (max-width: 998px) {
      .second_row-right .second_row__rhs-copy_insert p {
        margin-top: 0; } }
  @media (max-width: 998px) {
    .second_row-right {
      width: 100%;
      position: relative; } }

.second_row-right a.qbutton {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  margin-top: 16px; }

.second_row-left p,
.second_row__rhs-copy_insert p {
  color: #fff; }

.second_row__lhs-copy_insert p {
  font-size: 22px; }
  @media (max-width: 480px) {
    .second_row__lhs-copy_insert p {
      font-size: 16px; } }

#second_row > div > div.second_row-left.wpb_column.vc_column_container.vc_col-sm-4 > div, #fourth_row > div > div:nth-child(1) > div, #sixth_row > div > div > div, #eigth_row > div > div.wpb_column.vc_column_container.vc_col-sm-4 > div, #eigth_row > div > div.wpb_column.vc_column_container.vc_col-sm-8 > div, #fourth_row > div > div:nth-child(3) > div {
  padding-left: 0 !important; }

#button_blue::after {
  content: '〉';
  padding-left: 8px;
  margin-right: -8px; }

#button_white::after {
  content: '〉';
  padding-left: 8px;
  margin-right: -8px; }

#third_row {
  height: 670px; }
  #third_row .row_three-title-copy h2 {
    color: #000;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0; }
    #third_row .row_three-title-copy h2:nth-child(3) {
      margin-bottom: 60px; }
  #third_row .wpb_text_column p {
    width: auto;
    display: inline;
    color: #000;
    margin-right: 45px;
    text-transform: uppercase; }
    @media (max-width: 998px) {
      #third_row .wpb_text_column p {
        display: block; } }

#third_row > div > div > div > div {
  padding: 120px 0 0 120px; }
  @media (max-width: 480px) {
    #third_row > div > div > div > div {
      padding: 30px 0 0 30px; } }

#fourth_row > div > div:nth-child(1) > div > div,
#fourth_row > div > div:nth-child(3) > div > div {
  padding: 30px 60px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%); }

#fourth_row > div > div:nth-child(1) > div > div {
  text-align: center; }

#fourth_row > div > div:nth-child(3) > div > div {
  text-align: left; }

.corp_separator,
.fourth_row_lhs_copy,
.fourth_row_rhs_copy {
  margin: 32px 0 !important; }

.fourth_row_lhs_copy p,
.fourth_row_rhs_copy p {
  color: #fff; }

#fourth_row > div > div > div {
  min-height: 515px; }

@media (max-width: 998px) {
  #fourth_row > div > div:nth-child(2) {
    display: none; }
  #fourth_row > div > div:nth-child(1), #fourth_row > div > div:nth-child(3) {
    width: 50%; } }
  @media (max-width: 998px) and (max-width: 767px) {
    #fourth_row > div > div:nth-child(1), #fourth_row > div > div:nth-child(3) {
      width: 100%; } }

.fly_with_style p {
  color: #fff; }

#fifth_row > div > div > div {
  text-align: center;
  height: 650px; }

#fifth_row > div > div > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.fly_with_style {
  margin: 32px 0 !important; }

.adventures h2,
p {
  color: #666666; }

#fifth_row > div > div > div > div > div > div > h2 {
  color: #fff !important; }

#sixth_row > div > div > div > div {
  margin: 100px 0 !important; }

#seventh_row > div > div > div {
  padding: 0;
  background-color: #000;
  transition: ease-in-out;
  max-width: none; }
  #seventh_row > div > div > div img {
    margin: 0 !important;
    background-color: #000; }
    #seventh_row > div > div > div img:hover {
      opacity: 0.5; }

#seventh_row > div > div > div > div > div > div > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 300;
  text-align: center;
  font-size: 18px; }

#seventh_row > div > div > div > div > div > span {
  display: none; }

#eigth_row > div > div.wpb_column.vc_column_container.vc_col-sm-8 > div > div > div > div > h2 {
  width: 94%;
  color: #fff !important; }

#eigth_row > div {
  margin: 100px 0; }
  @media (max-width: 480px) {
    #eigth_row > div {
      text-align: center; } }

@media (max-width: 998px) {
  #eigth_row h2 {
    font-size: 32px;
    color: #fff !important; }
  #eigth_row > div > div.wpb_column.vc_column_container.vc_col-sm-4 {
    padding-left: 30px; } }

@media (max-width: 480px) {
  #eigth_row h2 {
    font-size: 18px;
    margin: 16px 0 !important;
    color: #fff !important; }
  #eigth_row > div > div.wpb_column.vc_column_container.vc_col-sm-4 > div > div > div {
    text-align: center; } }

#eigth_row > div > div > div > div > #button_blue {
  margin-left: 32px; }
  @media (max-width: 480px) {
    #eigth_row > div > div > div > div > #button_blue {
      margin-left: 0;
      margin: 16px 0; } }

#ninth_row > div > div > div {
  text-align: center;
  height: 396px; }

#ninth_row > div > div > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#ninth_row > div > div > div > div > div:nth-child(2) > div > h2 {
  color: #fff !important; }

#ninth_row > div > div > div > div > div:nth-child(1) > div > p {
  color: #fff; }

#ninth_row > div > div > div > div > a {
  margin-top: 32px; }

#tenth_row > div > div:first-child {
  height: 515px; }
  @media (max-width: 1800px) {
    #tenth_row > div > div:first-child {
      height: auto; } }
  @media (max-width: 998px) {
    #tenth_row > div > div:first-child {
      height: auto; } }

#tenth_row > div > div:nth-child(1) > div {
  text-align: center;
  padding: 60px; }

#tenth_row > div > div:nth-child(1) > div > div {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%); }
  @media (max-width: 998px) {
    #tenth_row > div > div:nth-child(1) > div > div {
      top: auto;
      left: 0;
      padding: 0 32px;
      transform: none; } }
  @media (max-width: 480px) {
    #tenth_row > div > div:nth-child(1) > div > div {
      position: relative; } }

#tenth_row > div > div:nth-child(2) > div {
  padding-left: 0; }

.testiemonial_copy p {
  font-style: italic; }

.testiemonial_author {
  margin-bottom: 32px !important; }

.testiemonial_author p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px; }

.testiemonial_author p::after,
.testiemonial_author p::before {
  content: '-';
  padding: 0 8px; }

#popmake-92 > div > p:nth-child(1) > img {
  margin: 0; }

.wpcf7-form {
  padding: 8px; }
  .wpcf7-form .first-name input, .wpcf7-form .last-name input, .wpcf7-form .email input {
    width: 31%;
    display: inline-block;
    margin: 0 5px; }

#wpcf7-f96-o1 > form > p > input, #wpcf7-f223-o1 > form > p > input {
  margin: 16px 0 0;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #1558b6;
  border: 1px #1558b6 solid;
  color: #fff;
  font-weight: 200;
  text-align: center; }
  #wpcf7-f96-o1 > form > p > input:hover, #wpcf7-f223-o1 > form > p > input:hover {
    background: #33b6f7;
    color: #fff;
    border: 1px #33b6f7 solid; }

.content_lhs {
  margin: 0 auto;
  padding: 60px; }
  .content_lhs h2 {
    color: #666666; }
  @media (max-width: 1800px) {
    .content_lhs {
      padding: 60px 16px; } }

.content_rhs div {
  background-size: cover;
  height: 500px;
  background-position: center; }

.wpcf7 input, .wpcf7 textarea, .wpcf7 select {
  width: 90%;
  padding: 10px;
  color: #8e8e8e;
  font-size: 16px;
  line-height: 20px;
  border: solid 1px #666666 !important;
  transition: all 0.2s ease; }

.wpcf7 .wpcf7-acceptance {
  width: initial; }

.wpcf7 .wpcf7-list-item {
  padding-left: 0;
  margin-left: 0;
  margin-right: 25px; }

.wpcf7 .wpcf7-list-item input {
  border: none;
  padding-left: 0;
  margin-left: 0; }

.wpcf7 select {
  outline: none;
  font-size: 16px; }

.wpcf7 input.wpcf7-submit {
  transition: 0;
  border: none;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 35px;
  padding-right: 35px; }

/* On hover */
.wpcf7 input.wpcf7-submit:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #33b6f7; }

/* On click */
.wpcf7 input.wpcf7-submit:active {
  top: 1px;
  color: #d8c6e2;
  background-color: #000000; }

/* CF7 Messages */
.wpcf7 .wpcf7-validation-errors {
  border: none;
  background-color: #f4ae46;
  margin: 0;
  padding: 20px; }

.wpcf7 .wpcf7-mail-sent-ok {
  border: none;
  background-color: #7ad33f;
  margin: 0;
  padding: 20px; }

.wpcf7 .wpcf7-mail-sent-ng {
  border: none;
  background-color: #cf2d38;
  margin: 0;
  padding: 20px;
  color: white; }

.wpcf7 span.wpcf7-not-valid-tip {
  border: none;
  background-color: #cf2d38;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 180px;
  color: white;
  /* Drop shadow */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }

.wpcf7-form .fleft {
  float: left; }

.wpcf7-form .mright20 {
  margin-right: 20px; }

.wpcf7-form .mright40 {
  margin-right: 40px; }

.wpcf7-form .clear {
  clear: both; }

.latest_post_two_info {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
